@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
   @apply font-poppins bg-mainBg;
}

.container {
   @apply ml-16;
}

.texts {
   @apply text-mainColor lg:text-sm font-quick font-medium
  text-xs;
}

/* .main-swiper {
   @apply xl:overflow-y-visible #{!important};
   & .swiper-slide {
      @apply h-auto #{!important};
   }

   & .swiper-pagination {
      @apply flex items-center sm:gap-1 gap-2;
      @apply absolute bottom-[100px] left-[calc(50%+20px)]
     max-xl:left-0 max-xl:flex max-xl:justify-center max-xl:bottom-12 
     max-md:bottom-6 #{!important};
   }
} */

/* .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  @apply bottom-0 #{!important};
} */

/* .swiper-pagination-element {
   @apply inline-block bg-pagination w-8 h-1
   cursor-pointer;
}

.swiper-pagination-active-element {
   @apply inline-block bg-redColor w-8 h-1;
} */

.films-suggestions-swiper,
.films-suggestions-swiper-numbered {
   @apply w-full xl:overflow-x-visible xl:overflow-y-visible #{!important};
}

.films-suggestions-swiper {
   & .swiper-slide {
      @apply h-[146px] w-[260px];
      &:hover {
         & .films-suggestions-swiper__navigation {
            @apply visible opacity-100;
         }
      }
   }
}
.films-suggestions-swiper-numbered {
   & .swiper-slide {
      @apply flex basis-auto shrink;
   }
}

/* .films-suggestions-swiper-numbered {
   @apply px-[25px] #{!important};
} */

.films-suggestions-swiper__navigation {
   @apply absolute top-0 h-full z-[2] px-2 flex
   justify-center items-center cursor-pointer
   opacity-0 invisible transition-all hover:bg-[rgba(0,0,0,0.2)];
   &.swiper-button-disabled {
      @apply hidden;
   }
   &_prev {
      @apply left-0;
   }
   &_next {
      @apply right-0;
   }
   svg {
      @apply text-2xl text-mainColor;
   }
}
