.header {
   @apply fixed h-[50px] bg-transparent w-full md:h-[85px] z-50;
}
.wrapper {
   @apply flex h-full justify-between items-center gap-[calc((40/1440)*100%)]
  relative px-8;
}
.main {
   @apply items-center grow md:flex lg:gap-[150px] md:gap-[50px];
}
.logo {
   @apply pl-10 md:pl-0 flex items-center;
   a {
      @apply inline-block;
   }
}
.menu-logo {
   @apply hidden max-md:basis-[50px] max-md:shrink-0
   max-md:flex max-md:pl-[55px] items-center;
   a {
      @apply inline-block;
   }
}
.nav {
   @apply max-md:fixed max-md:top-0 max-md:-left-full max-md:z-20 
  max-md:h-screen max-md:w-[40%] transition-all
  max-md:flex max-md:flex-col max-md:overflow-auto;
   &._active {
      @apply left-0;
   }
}
.nav-wrapper {
   @apply items-center flex-wrap flex
  md:gap-x-3 lg:gap-x-6 max-md:flex-col max-md:mt-10 max-md:pb-8
  max-md:gap-x-0 max-md:gap-y-4;
}
.nav-item {
   @apply text-mainColor md:text-sm text-xl;
   /* &._active {
      @apply ;
   } */
}
.actions {
   @apply flex items-center gap-3 lg:gap-6 cursor-pointer;
}
.action {
   @apply relative;
}
