.header {
   @apply absolute top-0 left-0 w-full h-14;
}
.wrapper {
   @apply fixed top-0 left-0 bg-header w-full h-14 z-50 
   bg-transparent transition-colors;
}
.wrapper {
   &._scroll {
      @apply bg-none bg-[rgba(255,255,255,0.5)];
   }
}
.container {
   @apply flex h-full justify-between items-center gap-[calc((40/1440)*100%)]
  relative ml-8 mr-12 max-md:mx-4;
}
.main {
   @apply items-center grow md:flex gap-9;
}
.logo {
   @apply pl-10 md:pl-0 flex items-center;
   a {
      @apply inline-block;
   }
}
.menu-logo {
   @apply hidden max-md:basis-[50px] max-md:shrink-0
   max-md:flex max-md:pl-[55px] items-center;
   a {
      @apply inline-block;
   }
}
.nav {
   @apply max-md:fixed max-md:top-0 max-md:-left-full max-md:z-20 
   max-md:h-screen max-md:w-screen transition-[left];
   &._active {
      @apply left-0;
   }
   &__sidebar {
      @apply max-md:h-full md:w-full sm:w-[40%] max-sm:w-[50%] 
      max-[500px]:w-[60%] max-[400px]:w-[70%] max-[350px]:w-[80%]
      max-md:bg-mainBg max-md:flex max-md:flex-col 
      max-md:overflow-auto max-md:shadow-card;
   }
}
.nav-wrapper {
   @apply md:items-center items-start flex-wrap flex
   md:gap-x-3 lg:gap-x-6 max-md:flex-col max-md:mt-10 max-md:pb-8
   max-md:gap-x-0 max-md:gap-y-4 max-md:pl-[55px];
}
.nav-item {
   @apply text-mainColor md:text-sm text-xl;
   &._active {
      @apply font-bold;
   }
}
.actions {
   @apply flex items-center gap-3 lg:gap-6 cursor-pointer;
}
.action {
   @apply relative;
}
